<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
  </head>
  
  <body>
    <% include partials/navigation.ejs %>
    <div>
      <h1>Sneakpeak of next patch:</h1>
      <img src="/images/Skillsmenu.png" alt="Skills Menu"></img>
      <br/>
      <img src="/images/Skills.png" alt="Skills"></img>
      <br/>
    </div>
    
    <% include partials/scripts.ejs %>
  </body>
</html>